DOCKER_REGISTRY=docker.io

MYSQL_PORT=3529
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=library
MYSQL_USER=admin
MYSQL_PASSWORD=admin123

REDIS_PORT=6629

BACKEND_PORT=8329
BACKEND_CONTAINER_PORT=8080

FRONTEND_PORT=8229
FRONTEND_CONTAINER_PORT=8229
